<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LolLoginServlet</servlet-name>
    <servlet-class>neu.edu.cs5200.project.LolLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LolLoginServlet</servlet-name>
    <url-pattern>/loginAction1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>neu.edu.cs5200.project.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/loginAction2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchPageServlet</servlet-name>
    <servlet-class>neu.edu.cs5200.project.SearchPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPageServlet</servlet-name>
    <url-pattern>/searchAction1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchMatchServlet</servlet-name>
    <servlet-class>neu.edu.cs5200.project.SearchMatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMatchServlet</servlet-name>
    <url-pattern>/searchMatchAction1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>net.codejava.upload.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>neu.edu.cs5200.project.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profileAction1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>neu.edu.cs5200.project.FriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/friendAction1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>jws</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/jws/*</url-pattern>
  </servlet-mapping>
</web-app>